# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
.env

# Next.js
.next/
out/

# macOS

.DS_Store

# VS Code
.vscode/

# Ignore Oracle deinstallation folders/environments
app/ELMA/product/21c/deinstall*/
